<div class="row">
  <div class="col-10">
    <form class="form-inline">
      <div class="form-group mb-2">
        <input [(ngModel)]="searchCourse" name="searchCourse" class="form-control" type="text" placeholder="Search course">
      </div>
      <button (click)="search()" type="button" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
  <div class="col-2">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary">Add Course</button>
    </div>
  </div>
</div>