<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Course deletion</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete this curse?</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss(false)">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="modal.close(true)">Ok</button>
</div>