<div class="card">
    <div class="card-title">
      <div class="row">
        <div class="col-12">
          <h5>{{item.title}}</h5>
        </div>
      </div>
    </div>
  <div class="card-body">
    <div class="row">
      <div class="col-10">{{item.description}}</div>
      <div class="col-2">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-primary">Edit</button>
          <button type="button" class="btn btn-outline-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
