<div class="card" [gmpCourseCardBorder]="item.creationDate" style="margin-bottom: 15px;">
    <div class="card-title">
      <div class="row">
        <div class="col-6">
          <h5>{{ item.title | uppercase }} <i [ngClass]="{'far fa-star text-warning':item.topRated===true}"></i></h5>
        </div>
        <div class="col-3">
          <span class="text-center text-muted"><i class="far fa-clock"></i> {{ item.duration | courseDuration }}</span>
        </div>
        <div class="col-3">
          <span class="text-center text-muted"><i class="far fa-calendar"></i> {{ item.creationDate | date }}</span>
        </div>
      </div>
    </div>
  <div class="card-body">
    <div class="row">
      <div class="col-10">{{item.description}}</div>
      <div class="col-2">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-primary">Edit</button>
          <button (click)="delete()" type="button" class="btn btn-outline-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
